<div class="bg"></div>

<div class="screen-divs">
    <div class="screen-left">
        <div class="section over-hide">
            <div class="container">
                <div class="row full-height justify-content-center">
                    <div class="col-12 text-center align-self-center py-5">
                        <div class="section text-center py-5 py-md-0">
                            <input class="pricing" type="checkbox" id="pricing" name="pricing" />
                            <label for="pricing"><span class="block-diff">Carros<span
                                        class="float-right">Motos</span></span></label>
                            <div class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                    <div class="card-front">
                                        <div class="pricing-wrap">
                                            <h4 class="mb-5">Carros e Utilitários</h4>
                                            <h2 class="mb-2"><sup>R$</sup>399,<sup>90</sup></h2>
                                            <p class="mb-4">instalação completa</p>
                                            <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                                            <p class="mb-4">+39,90 ao mês</p>
                                            <a href="#0" class="link">Adquirir</a>
                                            <div class="img-wrap img-2">
                                                <img src="../../assets/img/cards/citybg.png" alt="">
                                            </div>
                                            <div class="img-wrap img-1">
                                                <img src="../../assets/img/cards/carcard.png" alt="">
                                            </div>
                                            <div class="img-wrap img-6">
                                                <img src="https://assets.codepen.io/1462889/Stone.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <div class="pricing-wrap">
                                            <h4 class="mb-5">Motos e Bicicletas</h4>
                                            <h2 class="mb-2"><sup>$</sup>349,<sup>90</sup></h2>
                                            <p class="mb-4">Instalação completa</p>
                                            <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                                            <p class="mb-4">+35,90 ao mês</p>
                                            <a href="#0" class="link">Adquirir</a>
                                            <div class="img-wrap img-2">
                                                <img src="https://assets.codepen.io/1462889/grass.png" alt="">
                                            </div>
                                            <div class="img-wrap img-4">
                                                <img src="../../assets/img/cards/bikecard.png" alt="">
                                            </div>
                                            <div class="img-wrap img-7">
                                                <img src="https://assets.codepen.io/1462889/IvyRock.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="screen-right">
        <div class="info-card">
            <img src="../../assets/img/logos/transpcar (1).png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Carros e Utilitários</b></h4>
                <p>Informações</p>
            </div>
        </div>
    </div>

</div>