.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background: rgb(198, 196, 233);
    background: linear-gradient(90deg, rgba(198, 196, 233, 0.7) 0%, rgba(147, 189, 221, 0.7) 50%, rgba(95, 52, 159, 0.7) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(2px);
}

.screen-divs {
    z-index: 3;
    padding: 20px;
}

.screen-left {
    margin-left: 2%;
    width: 48%;
    float: left;
    padding: 20px;
}

.screen-right {
    margin-right: 2%;
    width: 48%;
    float: left;
    padding: 20px;
    object-fit: contain;
}

.screen-right img {
    z-index: 2;
    width: 600px;
    height: 600px;
    object-fit: contain;
}